<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nosedive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F23AFB591DBD99250037FFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F23AFB6D1DBD99250037FFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F23AFB781DBD99250037FFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
